/webpack1/node_modules/
/webpack1/dist/

/webpack2/node_modules/
/webpack2/dist/

/webpack3/node_modules/
/webpack3/dist/

/webpack4/node_modules/
/webpack4/dist/

/webpack5/node_modules/
/webpack5/dist/

/webpack6/node_modules/
/webpack6/dist/

/webpack7/node_modules/
/webpack7/dist/

/webpack8/node_modules/
/webpack8/dist/

/webpack9/node_modules/
/webpack9/dist/

/webpack10/node_modules/
/webpack10/dist/

/webpack11/node_modules/
/webpack11/dist/

/webpack12/node_modules/
/webpack12/dist/

/simplepack/node_modules/
/simplepack/dist/

/loader-order/node_modules/
/loader-order/dist/

/raw-loader/node_modules/
/raw-loader/dist/

/my-plugin/node_modules/
/my-plugin/dist/